<footer class="footer">

  <a class="footer_buttom" href="#header"><img class="footer_buttom_arrow" src="./assets/images/ico-arrow.svg"
      alt=""></a>

  <nav class="footer_navegator">

    <ul class="footer_navegator_list">
      <li><a
          href="https://adalab.es/curso-de-programacion-para-mujeres-conviertete-en-programadora-web/?utm_term=adalab&utm_campaign=Lanzamiento+curso+Data&utm_source=adwords&utm_medium=ppc&hsa_acc=5177828897&hsa_cam=17724279488&hsa_grp=138248780389&hsa_ad=609701106850&hsa_src=g&hsa_tgt=aud-1702000491047:kwd-320586140105&hsa_kw=adalab&hsa_mt=p&hsa_net=adwords&hsa_ver=3&gclid=Cj0KCQiAic6eBhCoARIsANlox87_Q4JoWTtEen4-yrkH977DJJ_EshqUsH-Q4PEpVsQNluEG6zKXHfEaAqzTEALw_wcB"></a>
        ZAPATILLAS</li>
      <li><a
          href="https://adalab.es/curso-de-programacion-para-mujeres-conviertete-en-programadora-web/?utm_term=adalab&utm_campaign=Lanzamiento+curso+Data&utm_source=adwords&utm_medium=ppc&hsa_acc=5177828897&hsa_cam=17724279488&hsa_grp=138248780389&hsa_ad=609701106850&hsa_src=g&hsa_tgt=aud-1702000491047:kwd-320586140105&hsa_kw=adalab&hsa_mt=p&hsa_net=adwords&hsa_ver=3&gclid=Cj0KCQiAic6eBhCoARIsANlox87_Q4JoWTtEen4-yrkH977DJJ_EshqUsH-Q4PEpVsQNluEG6zKXHfEaAqzTEALw_wcB">ROPA
      </li>
      <li><a
          href="https://adalab.es/curso-de-programacion-para-mujeres-conviertete-en-programadora-web/?utm_term=adalab&utm_campaign=Lanzamiento+curso+Data&utm_source=adwords&utm_medium=ppc&hsa_acc=5177828897&hsa_cam=17724279488&hsa_grp=138248780389&hsa_ad=609701106850&hsa_src=g&hsa_tgt=aud-1702000491047:kwd-320586140105&hsa_kw=adalab&hsa_mt=p&hsa_net=adwords&hsa_ver=3&gclid=Cj0KCQiAic6eBhCoARIsANlox87_Q4JoWTtEen4-yrkH977DJJ_EshqUsH-Q4PEpVsQNluEG6zKXHfEaAqzTEALw_wcB">NIÑO/A
      </li>
      <li><a
          href="https://adalab.es/curso-de-programacion-para-mujeres-conviertete-en-programadora-web/?utm_term=adalab&utm_campaign=Lanzamiento+curso+Data&utm_source=adwords&utm_medium=ppc&hsa_acc=5177828897&hsa_cam=17724279488&hsa_grp=138248780389&hsa_ad=609701106850&hsa_src=g&hsa_tgt=aud-1702000491047:kwd-320586140105&hsa_kw=adalab&hsa_mt=p&hsa_net=adwords&hsa_ver=3&gclid=Cj0KCQiAic6eBhCoARIsANlox87_Q4JoWTtEen4-yrkH977DJJ_EshqUsH-Q4PEpVsQNluEG6zKXHfEaAqzTEALw_wcB">
          DESTACADOS</li>
      <li><a
          href="https://adalab.es/curso-de-programacion-para-mujeres-conviertete-en-programadora-web/?utm_term=adalab&utm_campaign=Lanzamiento+curso+Data&utm_source=adwords&utm_medium=ppc&hsa_acc=5177828897&hsa_cam=17724279488&hsa_grp=138248780389&hsa_ad=609701106850&hsa_src=g&hsa_tgt=aud-1702000491047:kwd-320586140105&hsa_kw=adalab&hsa_mt=p&hsa_net=adwords&hsa_ver=3&gclid=Cj0KCQiAic6eBhCoARIsANlox87_Q4JoWTtEen4-yrkH977DJJ_EshqUsH-Q4PEpVsQNluEG6zKXHfEaAqzTEALw_wcB">
          TIPS</li>
    </ul>

  </nav>

  <nav class="footer_navegator">
    <ul class="footer_navegator_list">
      <li><a
          href="https://adalab.es/curso-de-programacion-para-mujeres-conviertete-en-programadora-web/?utm_term=adalab&utm_campaign=Lanzamiento+curso+Data&utm_source=adwords&utm_medium=ppc&hsa_acc=5177828897&hsa_cam=17724279488&hsa_grp=138248780389&hsa_ad=609701106850&hsa_src=g&hsa_tgt=aud-1702000491047:kwd-320586140105&hsa_kw=adalab&hsa_mt=p&hsa_net=adwords&hsa_ver=3&gclid=Cj0KCQiAic6eBhCoARIsANlox87_Q4JoWTtEen4-yrkH977DJJ_EshqUsH-Q4PEpVsQNluEG6zKXHfEaAqzTEALw_wcB">
          TWITTER</li>
      <li><a
          href="https://adalab.es/curso-de-programacion-para-mujeres-conviertete-en-programadora-web/?utm_term=adalab&utm_campaign=Lanzamiento+curso+Data&utm_source=adwords&utm_medium=ppc&hsa_acc=5177828897&hsa_cam=17724279488&hsa_grp=138248780389&hsa_ad=609701106850&hsa_src=g&hsa_tgt=aud-1702000491047:kwd-320586140105&hsa_kw=adalab&hsa_mt=p&hsa_net=adwords&hsa_ver=3&gclid=Cj0KCQiAic6eBhCoARIsANlox87_Q4JoWTtEen4-yrkH977DJJ_EshqUsH-Q4PEpVsQNluEG6zKXHfEaAqzTEALw_wcB">
          INSTAGRAM</li>
      <li><a
          href="https://adalab.es/curso-de-programacion-para-mujeres-conviertete-en-programadora-web/?utm_term=adalab&utm_campaign=Lanzamiento+curso+Data&utm_source=adwords&utm_medium=ppc&hsa_acc=5177828897&hsa_cam=17724279488&hsa_grp=138248780389&hsa_ad=609701106850&hsa_src=g&hsa_tgt=aud-1702000491047:kwd-320586140105&hsa_kw=adalab&hsa_mt=p&hsa_net=adwords&hsa_ver=3&gclid=Cj0KCQiAic6eBhCoARIsANlox87_Q4JoWTtEen4-yrkH977DJJ_EshqUsH-Q4PEpVsQNluEG6zKXHfEaAqzTEALw_wcB">
          YOUTUBE</li>
    </ul>

  </nav>

  <div class="footer_navegator_copy">
    <span> ©2023</span>
    <p>we 🧡 run</p>

  </div>

</footer>