<header class="header" id="header">

  <nav class="header_navegator">
    <a href="https://adalab.es/curso-de-programacion-para-mujeres-conviertete-en-programadora-web/?utm_term=adalab&utm_campaign=Lanzamiento+curso+Data&utm_source=adwords&utm_medium=ppc&hsa_acc=5177828897&hsa_cam=17724279488&hsa_grp=138248780389&hsa_ad=609701106850&hsa_src=g&hsa_tgt=aud-1702000491047:kwd-320586140105&hsa_kw=adalab&hsa_mt=p&hsa_net=adwords&hsa_ver=3&gclid=Cj0KCQiAic6eBhCoARIsANlox87_Q4JoWTtEen4-yrkH977DJJ_EshqUsH-Q4PEpVsQNluEG6zKXHfEaAqzTEALw_wcB"
      target="_blank">
      <img class="header_navegator_menu" src="./assets/images/ico-menu.svg" alt="icon menu">
    </a>
  </nav>

  <div class="header_hero">
    <div class="header_hero_img"> </div>
    <div class="header_hero_contents">
      <h1 class="header_hero_contents_title"> HASTA UN 50% DE DESCUENTO</h1>
      <p class="header_hero_contents_p"> Ya están aquí las ofertas de fin de temporada</p>
      <a class="header_hero_contents_buttom" href="#new_year">⌄</a>
    </div>
  </div>

</header>