<main class="page__main">

    <section class="section_1">

        <p class="section_1_label"> Los sentimientos nos inspiran</p>
        <h2 class="section_1_title"> Conecta Contigo</h2>
        <p class="section_1_contents"> Esto es una nueva celebración de todo lo que nos mueve. Del poder de elegir y de
            la libertad de ser.
            Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hacen sentir</p>
        <a class="section_1_buttom"
            href="https://adalab.es/curso-de-programacion-para-mujeres-conviertete-en-programadora-web/?utm_term=adalab&utm_campaign=Lanzamiento+curso+Data&utm_source=adwords&utm_medium=ppc&hsa_acc=5177828897&hsa_cam=17724279488&hsa_grp=138248780389&hsa_ad=609701106850&hsa_src=g&hsa_tgt=aud-1702000491047:kwd-320586140105&hsa_kw=adalab&hsa_mt=p&hsa_net=adwords&hsa_ver=3&gclid=Cj0KCQiAic6eBhCoARIsANlox87_Q4JoWTtEen4-yrkH977DJJ_EshqUsH-Q4PEpVsQNluEG6zKXHfEaAqzTEALw_wcB">
            Comprar</a>


    </section>

    <section class="section_2">

        <h3 class="section_2_title" id="new_year"> Año nuevo, movimientos nuevos</h3>

        <article class="article_1">
            <h4></h4>


        </article>

        <article class="article_2">


        </article>

        <article class="article_3">

        </article>

    </section>

    <main>