* {
  font-size: 62.5%;
}

:root {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
}

.header {
  width: 100vw;

  .header_navegator {
    position: sticky;
    top: 0;
    z-index: 1;


    .header_navegator_menu {
    background-color:#f26002 ;
    padding: 0.8rem;

      @media (min-width:768px) {
        padding: 0.9rem;
          
      }

      @media (min-width:1280px) {
        padding: 1rem;
      }
    
    }
    
  }

  .header_hero {
      width: 100%;
      height: 480px;
    
      @media (min-width:768px) {
        height: 600px;
        margin-bottom: 12rem;
      }

      @media (min-width:1280px) {
        margin-bottom: 12rem;
      }

 
    .header_hero_img {
        width: 100%;
        height: 100vh;
        background-image: url(../images/cover.jpeg);
        background-size: 700px 500px;
        background-position: 50%;
        background-repeat: no-repeat;
        position: relative;
        top: -23rem;

        
  
        @media (min-width:768px) {
          background-position:20%;
          background-size: cover;
        }

        @media (min-width:1280px) {
          background-size: 160%;
          background-position: 40% 10%;
            
        }
      }
      
    .header_hero_contents {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;
      top: -55rem;

      @media (min-width:768px) {
        top: -45rem;
  
      }

      @media (min-width:1280px) {
        top: -45rem;
      }

      .header_hero_contents_title {
          font-family: 'Roboto Slab';
          font-weight: bold;
          font-size: 1.8rem;
          color: white;
          margin-bottom: 1rem;
          text-shadow: 0 2px 3px black;
      
          @media (min-width:768px) {
            font-size: 4rem;
            margin-bottom: 2rem;

          }

          @media (min-width:1280px) {
            margin-bottom: 1rem;
            font-size: 5rem;
          }
      
        }
      
        .header_hero_contents_p {
          font-family: 'Roboto';
          font-size: 1rem;
          font-weight: lighter;
          margin-bottom: 1rem;
          color: white;
      
          @media (min-width:768px) {
            font-size: 1.2rem;
            margin: 0rem 15rem 2rem;

          }

          @media (min-width:1280px) {
            font-size: 1.4rem;
            margin-bottom: 2rem;
          }
      
        }
      
        .header_hero_contents_buttom {
          color: #f26002;
          font-size: 1.6rem;
          background-color: white;
          text-decoration: none;
          padding: 0rem 0.6rem 0.5rem 0.6rem;
          border-radius: 50%;

          @media (min-width:768px){
            font-size: 2.5rem;
            padding: 0 0.9rem 0.9rem 0.9rem;

          }
        }

    } 
    
}

}

