.page--main {
    width: 100vw;
}

.section--1 {
    width: 85%;
    margin: 0 0 4rem 3rem;

    @media (min-width:1280px) {
        margin-left: 12rem;
    }

    
    &_label {
        font-family: $font-roboto;
        font-size: 0.8rem;
        color: $color-orange;
        margin-bottom: 0.5rem;

        @media (min-width:768px) {
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }
    }

    &_title {
        font-family: $font-robotoslab;
        font-size: 1.2rem;
        font-weight: bold;

        @media (min-width:768px) {
            font-size: 2rem;
        }
    }

    &_contents {
        font-family: $font-roboto;
        color: $color-grey;
        font-size: 1rem;
        margin-top: 1rem;
        line-height: 1.67;
        letter-spacing: normal;

        @media (min-width:768px) {
            margin-bottom: 1rem;
            font-size: 1.2rem;
        }

        @media (min-width:1280px) {
            padding-right: 15rem;
        }
    }

    &_buttom {
        font-family: $font-roboto;
        font-size: 1rem;
        text-decoration: none;
        color: $color-orange;
        padding: 0.25rem 1.5rem;
        border: solid 2px $color-orange;
        border-radius: 5rem;
        position: relative;
        top: 1rem;

        @media (min-width:768px) {
            font-size: 1.4rem;
        }

    }
}


.section--2 {
    background-color: #f2f2f2;
    text-align: center;
    border: solid 3rem #f2f2f2;
    padding-bottom: 2rem;
       

    &_title {
        font-family: $font-robotoslab, sans-serif;
        font-size: 1.4rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        margin: 0 1.5rem 2rem 1.5rem;

        @media (min-width:768px) {
            font-size: 1.6rem;
        }

        @media (min-width:1280px) {
            font-size: 1.8rem;
        }
              
    }

    &_article {
        
        @media (min-width:768px) {
            margin-bottom: 1rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: [row1]60% [row2]40%;
            grid-template-areas: 
            "section_2_article_subtitle section_2_article_subtitle section_2_article_subtitle" 

            "section_2_article_contents section_2_article_contents section_2_article_contents";

        }

  
            
        &_subtitle {
            font-size: 1rem;
            margin: 0.5rem 1rem;
            font-family: $font-robotoslab;
            font-weight: bold;

            @media (min-width:768px) {
                font-size: 1.4rem;
                grid-area: section_2_article_subtitle;
            
            }

            @media (min-width:1280px) {
                font-size: 1.4rem;
                margin-bottom: 4rem;
            }
        }
                
        &_contents {
            font-family: $font-roboto;
            font-size: 0.9rem;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.67;
            letter-spacing: normal;
            margin: 0rem 0 2rem 0;


            @media (min-width:768px) {
                padding: 0.5rem 1rem;
                font-size: 1rem;
                grid-area: section_2_article_contents;
            }

            @media (min-width:1280px) {
                font-size: 1.2rem;
            }
        }
            
    }            
                                    
    &_buttom {
        font-family: $font-roboto;
        font-size: 1rem;
        background-color: $color-orange;
        padding: 0.5rem 2rem;
        border-radius: 5rem;
        color: white;
        text-decoration: none;

        @media (min-width:768px) {
            font-size: 1.3rem;            

        }
            
    }
}